<div class="loader" >
	<div id="loginModal" class="modal show back-login" tabindex="-1" role="dialog"> 	<!-- Cria o modal -->
		<div class="modal-dialog">   	<!-- Cria o modal -->
			<div class="modal-content"> 	<!-- Cria o modal -->
				<div class="modal-header title"> 	<!-- Cabeçalho modal -->
					<img src="" class="img-responsive center-block">
					<h1 class="text-center title"> Ethereal System</h1> <!-- Titulo Modal -->
				</div>
				<div class="modal-body"> <!-- Corpo Modal -->
					<form  id="form-login" class="form col-md-12 center-block"> <!-- Inicio Formulario -->
						<div class="form-group"> <!-- Alinha login e senha  verticalmente -->
							<input class="form-control input-lg" id="email" type="email" name="email" placeholder="Email"><!-- input login formulario -->
						</div>
						<div class="form-group">	<!-- Alinha login e senha  verticalmente-->
							<input class="form-control input-lg" id="password" type="password" name="Senha" placeholder="Senha"> <!-- input senha formulario -->
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-lg btn-block button-css elem-demo" >Entrar</button> <!-- Botão logar modal -->	
						</div>
					</form> <!-- Fim Formulario -->			
				</div>
				<div class="modal-footer login-footer">	<!-- Completa o rodapé do modal -->	
				</div>
			</div>		
		</div>
	</div>