 <div class="panel panel-default col-md-6 col-md-push-3 panel-conf">
 	<div class="panel-heading text-center"><h4>Register Stack<h4></div>
 	<div class="panel-body painel-corpo">
 		<div class="conf-form">
 			<form id="form-login">
 				<div class="form-group">
 					<input id="nomeStack" type="text" name="name" class="form-control" placeholder="Nome da Stack">
 				</div>
 				<div class="form-group">
 					<input id="EnderecoStack" type="text" name="endereco" class="form-control" placeholder="Endereco da Stack">
 				</div>
 				<div class="form-group">
 					<button type="button" class="btn btn-stack btn-outline-danger">Salvar</button>
 				</div>
 			</form>
 		</div>
 	</div>
 </div>