<header>
       <nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header brand">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">ETHERAL</a>
            </div>
            <div id="navbar-menu" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><i class="fa fa-tachometer" aria-hidden="true"></i><a href="">Dashboard</a></li>
                    <li><i class="fa fa-user-o" aria-hidden="true"></i><a href="#clientes/">Clientes</a></li>
                    <li><i class="fa fa-th" aria-hidden="true"></i><a href="#rds/">Rds</a></li>
                    <li><i class="fa fa-server" aria-hidden="true"></i><a href="#stack/">Stacks</a></li>    
                    <li><button type="submit" id="signout"><span class="glyphicon glyphicon-lock"></span>Sign Out</button></li>
                </ul>
                </div>
            </div>
        </nav>  
</header>